# Environment
.env
.env.local
.env.*.local
api/.env

# Database
*.db
*.sqlite
postgres_data/

# Docker
docker-compose.override.yml

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Dependencies
node_modules/

# Build
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
*.txt
payload-logs/

# Google Cloud credentials (never commit!)
*-service-account.json
credentials.json
api/credentials/*.json
mobile/android/sentry.properties

# Data files
*.jsonl
backup/**

# Misc
nul

.expo/*
.claude/*
.jks

#script for local development, should not be committed
pgrewind.js
drop-db.js