.ariaTextArea:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  position: relative;
  box-shadow: inset 0px 0px 0px 1px var(--token-uvRKHqH4wMtS);
  font-size: var(--token-tQQL0WDJ2WeV);
  line-height: var(--token-rK8KJ87t1ldV);
  width: 100%;
  color: var(--token-oY_jzqj5f3g8);
  font-family: var(--token-prW-fXaciPUb);
  min-width: 0;
  border-radius: var(--token-vjSlw_eOduAO);
  padding: var(--token-vjSlw_eOduAO) var(--token-3BrWdetPLCEF);
  border-style: none;
}
.ariaTextArea[data-focused]:global(.__wab_instance) {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-rdneH4PZylQH);
  outline-offset: 1px;
}
.ariaTextArea[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.ariaTextAreatype_soft:global(.__wab_instance) {
  background: var(--token-tuTr9uFmpVhm);
  box-shadow: none;
}
.ariaTextAreatype_soft[data-hovered]:global(.__wab_instance) {
  background: var(--token-mjdVOL6UkJOu);
}
.ariaTextAreatype_plain:global(.__wab_instance) {
  box-shadow: none;
}
.ariaTextAreatype_plain[data-hovered]:global(.__wab_instance) {
  background: var(--token-tuTr9uFmpVhm);
}
.ariaTextAreaflat_top:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.ariaTextAreaflat_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_bottom:global(.__wab_instance) {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.ariaTextAreapadded_left:global(.__wab_instance) {
  padding-left: var(--token-w3T19eWqkwht);
}
.ariaTextAreapadded_right:global(.__wab_instance) {
  padding-right: var(--token-w3T19eWqkwht);
}
