.ariaTextField:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  row-gap: var(--token-Jl8eBW3lHHCX);
  min-width: 0;
}
.ariaTextField[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.label:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.freeBox___1HoC2 {
  display: flex;
  flex-direction: column;
}
.freeBox__f9OOt {
  flex-direction: row;
  position: absolute;
  height: var(--token-w3T19eWqkwht);
  align-items: center;
  justify-content: center;
  z-index: 9;
  left: 0px;
  top: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-vjSlw_eOduAO) var(--token-3BrWdetPLCEF);
}
.freeBoxiconStart__f9OOtAaNo {
  display: flex;
}
.slotTargetStart {
  color: var(--token-io8LCqzJ87SP);
}
.svg__c0Wjv {
  position: relative;
  height: 1em;
}
.textAreaInputmultiLine:global(.__wab_instance):global(.__wab_instance) {
  display: block;
}
.freeBox__yo8C {
  height: var(--token-w3T19eWqkwht);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-vjSlw_eOduAO) var(--token-3BrWdetPLCEF);
}
.freeBoxiconEnd__yo8CLN85H {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-io8LCqzJ87SP);
}
.svg___4DtkN {
  position: relative;
  height: 1em;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
