.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-rdneH4PZylQH);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-xGmhHiSf-vYv);
  font-family: var(--token-prW-fXaciPUb);
  font-size: var(--token-tQQL0WDJ2WeV);
  line-height: var(--token-rK8KJ87t1ldV);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-vjSlw_eOduAO);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-2Diwm5ocP5ZY);
  outline-offset: 1px;
  outline-color: var(--token-rdneH4PZylQH);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-LufSfw_X9G-c);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-4IkddemJXQZK);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-bXD9BfAq4kYJ);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-RXTys9V2iApt);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-xs1CKkZfMfW5);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-iKpsX5j_V7qK);
  font-size: var(--token-RZehjF32yJL6);
  column-gap: var(--token-2Diwm5ocP5ZY);
  row-gap: 0px;
  border-radius: var(--token-Jl8eBW3lHHCX);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-RZehjF32yJL6);
  line-height: var(--token-iKpsX5j_V7qK);
  column-gap: var(--token-Jl8eBW3lHHCX);
  row-gap: 0px;
  border-radius: var(--token-Jl8eBW3lHHCX);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-GKiQJSVdvc1b);
  line-height: var(--token-bwLWkcqG_81o);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-GKiQJSVdvc1b);
  line-height: var(--token-bwLWkcqG_81o);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-RC7VCuw7Q59W);
  border-radius: var(--token-vjSlw_eOduAO);
}
.softBackgroundcolor_neutral {
  background: var(--token---WbAz74veaW);
}
.softBackgroundcolor_muted {
  background: var(--token-tuTr9uFmpVhm);
}
.softBackgroundcolor_success {
  background: var(--token-A25PFVRqAoK4);
}
.softBackgroundcolor_warning {
  background: var(--token-h5nPgXg_yrJs);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-TyIp7FH5t1VM);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-vjSlw_eOduAO);
  border: 0px solid var(--token-v-7PoAi2opKK);
}
.bordercolor_neutral {
  border-color: var(--token-y3pxemAd_YHR);
}
.bordercolor_muted {
  border-color: var(--token-7n67oiJOyXsR);
}
.bordercolor_success {
  border-color: var(--token-qmVHU4nclXDY);
}
.bordercolor_warning {
  border-color: var(--token-nAsnSXz5lG0C);
}
.bordercolor_errorDestructive {
  border-color: var(--token-qZNMQChtG-j8);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-vjSlw_eOduAO);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-Fodbk32ToNpx);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-PfAQMTThLe46);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-QAx14hr4r7yA);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__mbObk {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-vjSlw_eOduAO);
  min-width: 0;
  min-height: 0;
  padding: var(--token-vjSlw_eOduAO) var(--token-3BrWdetPLCEF);
}
.freeBoxsize_extraSmall__mbObkocMfu {
  padding: var(--token-Jl8eBW3lHHCX) var(--token-vjSlw_eOduAO);
}
.freeBoxsize_small__mbObkTvOot {
  padding: var(--token-vjSlw_eOduAO) var(--token-xGmhHiSf-vYv);
}
.freeBoxsize_large__mbObkb2PN {
  padding-top: var(--token-Jl8eBW3lHHCX);
  padding-bottom: var(--token-Jl8eBW3lHHCX);
}
.freeBoxsize_extraLarge__mbObk3Hx1J {
  padding-left: var(--token-RFpKKL0wUmIR);
  padding-right: var(--token-RFpKKL0wUmIR);
}
.freeBoxroundedFull__mbObkUbLe {
  padding-right: var(--token-RFpKKL0wUmIR);
  padding-left: var(--token-RFpKKL0wUmIR);
}
.freeBox__eIsHb {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__eIsHbclzS2 {
  display: flex;
}
.slotTargetStart {
  color: var(--token-bX257IS1R_uV);
}
.slotTargetStartcolor_neutral {
  color: var(--token-cSBVE0i7iyze);
}
.slotTargetStartcolor_muted {
  color: var(--token-D-JEdtWyiOcJ);
}
.slotTargetStartcolor_success {
  color: var(--token-6FoaBjIRsXON);
}
.slotTargetStartcolor_warning {
  color: var(--token-jz5J9_k8hG8C);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-3BTdPZ65IrBw);
}
.slotTargetStarttype_soft {
  color: var(--token-QpspQdyqKgPe);
}
.slotTargetStarttype_bordered {
  color: var(--token-QpspQdyqKgPe);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-RZehjF32yJL6);
}
.slotTargetStartsize_small {
  font-size: var(--token-RZehjF32yJL6);
}
.slotTargetStartsize_large {
  font-size: var(--token-GKiQJSVdvc1b);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-GKiQJSVdvc1b);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-85zK7vU8nJbp);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-85zK7vU8nJbp);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-bBay21uZBbUy);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-bBay21uZBbUy);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-FGT6xPe3G7cb);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-FGT6xPe3G7cb);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-pYTkaUX5wSCJ);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-pYTkaUX5wSCJ);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-UrL4K-1oFEY3);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-UrL4K-1oFEY3);
}
.svg__dDnUm {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-bX257IS1R_uV);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-cSBVE0i7iyze);
}
.slotTargetLabelcolor_muted {
  color: var(--token-D-JEdtWyiOcJ);
}
.slotTargetLabelcolor_success {
  color: var(--token-6FoaBjIRsXON);
}
.slotTargetLabelcolor_warning {
  color: var(--token-jz5J9_k8hG8C);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-3BTdPZ65IrBw);
}
.slotTargetLabeltype_soft {
  color: var(--token-QpspQdyqKgPe);
}
.slotTargetLabeltype_bordered {
  color: var(--token-QpspQdyqKgPe);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-85zK7vU8nJbp);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-bBay21uZBbUy);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-85zK7vU8nJbp);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-FGT6xPe3G7cb);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-bBay21uZBbUy);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-pYTkaUX5wSCJ);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-FGT6xPe3G7cb);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-UrL4K-1oFEY3);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-pYTkaUX5wSCJ);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-UrL4K-1oFEY3);
}
.text__oYhey {
  white-space: pre;
}
.freeBox__hypzE {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__hypzEPcLbr {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-bX257IS1R_uV);
}
.slotTargetEndcolor_neutral {
  color: var(--token-cSBVE0i7iyze);
}
.slotTargetEndcolor_muted {
  color: var(--token-D-JEdtWyiOcJ);
}
.slotTargetEndcolor_success {
  color: var(--token-6FoaBjIRsXON);
}
.slotTargetEndcolor_warning {
  color: var(--token-jz5J9_k8hG8C);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-3BTdPZ65IrBw);
}
.slotTargetEndtype_soft {
  color: var(--token-QpspQdyqKgPe);
}
.slotTargetEndtype_bordered {
  color: var(--token-QpspQdyqKgPe);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-RZehjF32yJL6);
}
.slotTargetEndsize_small {
  font-size: var(--token-RZehjF32yJL6);
}
.slotTargetEndsize_large {
  font-size: var(--token-GKiQJSVdvc1b);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-GKiQJSVdvc1b);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-85zK7vU8nJbp);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-85zK7vU8nJbp);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-bBay21uZBbUy);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-bBay21uZBbUy);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-FGT6xPe3G7cb);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-FGT6xPe3G7cb);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-pYTkaUX5wSCJ);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-pYTkaUX5wSCJ);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-UrL4K-1oFEY3);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-UrL4K-1oFEY3);
}
.svg__ddzQz {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
