.ariaInput:global(.__wab_instance) {
  box-sizing: border-box;
  box-shadow: inset 0px 0px 0px 1px var(--token-uvRKHqH4wMtS);
  color: var(--token-oY_jzqj5f3g8);
  font-family: var(--token-prW-fXaciPUb);
  font-size: var(--token-tQQL0WDJ2WeV);
  line-height: var(--token-rK8KJ87t1ldV);
  width: 100%;
  position: relative;
  outline-style: none;
  min-width: 0;
  border-radius: var(--token-vjSlw_eOduAO);
  padding: var(--token-vjSlw_eOduAO) var(--token-3BrWdetPLCEF);
  border-style: none;
}
.ariaInput[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.ariaInput[data-focused]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-2Diwm5ocP5ZY);
  outline-offset: 1px;
  outline-color: var(--token-rdneH4PZylQH);
}
.ariaInputtype_soft:global(.__wab_instance) {
  background: var(--token-tuTr9uFmpVhm);
  box-shadow: none;
}
.ariaInputtype_soft[data-hovered]:global(.__wab_instance) {
  background: var(--token-mjdVOL6UkJOu);
}
.ariaInputtype_plain:global(.__wab_instance) {
  box-shadow: none;
}
.ariaInputtype_plain[data-hovered]:global(.__wab_instance) {
  background: var(--token-tuTr9uFmpVhm);
}
.ariaInputflat_top:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.ariaInputflat_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaInputflat_bottom:global(.__wab_instance) {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaInputflat_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.ariaInputpadded_left:global(.__wab_instance) {
  padding-left: var(--token-w3T19eWqkwht);
}
.ariaInputpadded_right:global(.__wab_instance) {
  padding-right: var(--token-w3T19eWqkwht);
}
