.welcomeScreen {
  display: grid;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: flex-start;
  justify-items: center;
  overflow: auto;
  background: radial-gradient(
    ellipse 40% 60% at 20% 20%,
    #dcd7e0 6%,
    #b9e1f0 76%,
    #56d5ff 98%
  );
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.welcomeScreen > * {
  grid-column: 4;
}
@media (min-width: 768px) {
  .welcomeScreen {
    background:
      radial-gradient(ellipse 40% 60% at 20% 20%, #ce9fff 0%, #56b9ff 100%) 0%
        0% / 100% 100% repeat,
      radial-gradient(
        ellipse 40% 60% at 20% 20%,
        #dcd7e0 6%,
        #b9e1f0 76%,
        #56d5ff 98%
      );
  }
}
@media (min-width: 768px) {
  .welcomeScreen > * {
    grid-column: 4;
  }
}
.section {
  display: grid;
  position: relative;
  width: 100%;
  height: 613px;
  max-width: 100%;
  align-content: flex-end;
  justify-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 64px 0px;
}
.section > * {
  grid-column: 4;
}
@media (min-width: 768px) {
  .section > * {
    grid-column: 4;
  }
}
.shelvesAi {
  object-fit: cover;
  max-width: 100%;
  height: 155px;
  margin-top: 0px;
}
.shelvesAi > picture > img {
  object-fit: cover;
}
.loginOpen:global(.__wab_instance) {
  position: relative;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.accountProvider:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
