@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-rdneH4PZylQH: #2563eb;
  --plasmic-token-brand-brand: var(--token-rdneH4PZylQH);
  --token-xGmhHiSf-vYv: 0.5rem;
  --plasmic-token-size-8: var(--token-xGmhHiSf-vYv);
  --token-prW-fXaciPUb: Inter;
  --plasmic-token-sans-serif: var(--token-prW-fXaciPUb);
  --token-tQQL0WDJ2WeV: 1rem;
  --plasmic-token-font-md: var(--token-tQQL0WDJ2WeV);
  --token-rK8KJ87t1ldV: 1.25;
  --plasmic-token-line-height-md: var(--token-rK8KJ87t1ldV);
  --token-vjSlw_eOduAO: 0.375rem;
  --plasmic-token-size-6: var(--token-vjSlw_eOduAO);
  --token-LufSfw_X9G-c: #374151;
  --plasmic-token-neutral-neutral: var(--token-LufSfw_X9G-c);
  --token-xs1CKkZfMfW5: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-xs1CKkZfMfW5);
  --token-4IkddemJXQZK: #6b7280;
  --plasmic-token-muted-muted: var(--token-4IkddemJXQZK);
  --token-Jl8eBW3lHHCX: 0.25rem;
  --plasmic-token-size-4: var(--token-Jl8eBW3lHHCX);
  --token-RZehjF32yJL6: 0.75rem;
  --plasmic-token-font-sm: var(--token-RZehjF32yJL6);
  --token-iKpsX5j_V7qK: 1;
  --plasmic-token-line-height-sm: var(--token-iKpsX5j_V7qK);
  --token-GKiQJSVdvc1b: 1.25rem;
  --plasmic-token-font-lg: var(--token-GKiQJSVdvc1b);
  --token-bwLWkcqG_81o: 1.4;
  --plasmic-token-line-height-lg: var(--token-bwLWkcqG_81o);
  --token-2Diwm5ocP5ZY: 0.125rem;
  --plasmic-token-size-2: var(--token-2Diwm5ocP5ZY);
  --token-bXD9BfAq4kYJ: #16a34a;
  --plasmic-token-success-success: var(--token-bXD9BfAq4kYJ);
  --token-RXTys9V2iApt: #facc15;
  --plasmic-token-warning-warning: var(--token-RXTys9V2iApt);
  --token-RC7VCuw7Q59W: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-RC7VCuw7Q59W);
  --token---WbAz74veaW: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token---WbAz74veaW);
  --token-tuTr9uFmpVhm: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-tuTr9uFmpVhm);
  --token-A25PFVRqAoK4: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-A25PFVRqAoK4);
  --token-h5nPgXg_yrJs: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-h5nPgXg_yrJs);
  --token-TyIp7FH5t1VM: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-TyIp7FH5t1VM);
  --token-v-7PoAi2opKK: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-v-7PoAi2opKK);
  --token-y3pxemAd_YHR: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-y3pxemAd_YHR);
  --token-7n67oiJOyXsR: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-7n67oiJOyXsR);
  --token-qmVHU4nclXDY: #86efac;
  --plasmic-token-success-success-border: var(--token-qmVHU4nclXDY);
  --token-nAsnSXz5lG0C: #fde047;
  --plasmic-token-warning-warning-border: var(--token-nAsnSXz5lG0C);
  --token-qZNMQChtG-j8: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-qZNMQChtG-j8);
  --token-Fodbk32ToNpx: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-Fodbk32ToNpx);
  --token-PfAQMTThLe46: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-PfAQMTThLe46);
  --token-QAx14hr4r7yA: #00000033;
  --plasmic-token-interaction-pressed: var(--token-QAx14hr4r7yA);
  --token-3BrWdetPLCEF: 0.625rem;
  --plasmic-token-size-10: var(--token-3BrWdetPLCEF);
  --token-RFpKKL0wUmIR: 0.75rem;
  --plasmic-token-size-12: var(--token-RFpKKL0wUmIR);
  --token-bX257IS1R_uV: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-bX257IS1R_uV);
  --token-cSBVE0i7iyze: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-cSBVE0i7iyze);
  --token-D-JEdtWyiOcJ: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-D-JEdtWyiOcJ);
  --token-QpspQdyqKgPe: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-QpspQdyqKgPe);
  --token-jz5J9_k8hG8C: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-jz5J9_k8hG8C);
  --token-6FoaBjIRsXON: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-6FoaBjIRsXON);
  --token-3BTdPZ65IrBw: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-3BTdPZ65IrBw);
  --token-85zK7vU8nJbp: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-85zK7vU8nJbp);
  --token-bBay21uZBbUy: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-bBay21uZBbUy);
  --token-FGT6xPe3G7cb: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-FGT6xPe3G7cb);
  --token-pYTkaUX5wSCJ: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-pYTkaUX5wSCJ);
  --token-UrL4K-1oFEY3: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-UrL4K-1oFEY3
  );
  --token-w3T19eWqkwht: 2rem;
  --plasmic-token-size-32: var(--token-w3T19eWqkwht);
  --token-io8LCqzJ87SP: #6b7280;
  --plasmic-token-basic-text-secondary: var(--token-io8LCqzJ87SP);
  --token-oY_jzqj5f3g8: #030712;
  --plasmic-token-basic-text-primary: var(--token-oY_jzqj5f3g8);
  --token-uvRKHqH4wMtS: #d1d5db;
  --plasmic-token-basic-border: var(--token-uvRKHqH4wMtS);
  --token-mjdVOL6UkJOu: #e5e7eb;
  --plasmic-token-muted-muted-soft-hover: var(--token-mjdVOL6UkJOu);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-kfXQJYEGRL_7_font-family: "Inter", sans-serif;
  --mixin-kfXQJYEGRL_7_font-size: 16px;
  --mixin-kfXQJYEGRL_7_font-weight: 400;
  --mixin-kfXQJYEGRL_7_font-style: normal;
  --mixin-kfXQJYEGRL_7_color: #535353;
  --mixin-kfXQJYEGRL_7_text-align: left;
  --mixin-kfXQJYEGRL_7_text-transform: none;
  --mixin-kfXQJYEGRL_7_line-height: 1.5;
  --mixin-kfXQJYEGRL_7_letter-spacing: normal;
  --mixin-kfXQJYEGRL_7_white-space: pre-wrap;
  --mixin-kfXQJYEGRL_7_user-select: text;
  --mixin-kfXQJYEGRL_7_text-decoration-line: none;
  --mixin-kfXQJYEGRL_7_text-overflow: clip;
  --mixin-hMDv8zISYiFs_color: #000000;
  --mixin-hMDv8zISYiFs_font-size: 24px;
  --mixin-hMDv8zISYiFs_font-weight: 600;
  --mixin-hMDv8zISYiFs_letter-spacing: -0.5px;
  --mixin-hMDv8zISYiFs_line-height: 1.3;
  --mixin-hMDv8zISYiFs_white-space: pre-wrap;
  --mixin-COsrEp_pq9dx_color: #000000;
  --mixin-COsrEp_pq9dx_font-size: 20px;
  --mixin-COsrEp_pq9dx_font-weight: 600;
  --mixin-COsrEp_pq9dx_letter-spacing: -0.3px;
  --mixin-COsrEp_pq9dx_line-height: 1.5;
  --mixin-COsrEp_pq9dx_white-space: pre-wrap;
  --mixin-p6vmL5GNs1in_color: #000000;
  --mixin-p6vmL5GNs1in_font-size: 16px;
  --mixin-p6vmL5GNs1in_font-weight: 600;
  --mixin-p6vmL5GNs1in_line-height: 1.5;
  --mixin-p6vmL5GNs1in_white-space: pre-wrap;
  --mixin-0Er5gV4fTcTc_color: #0070f3;
  --mixin-0Er5gV4fTcTc_white-space: pre-wrap;
  --mixin-JF3MCLmNSb4Z_border-left-color: #dddddd;
  --mixin-JF3MCLmNSb4Z_border-left-style: solid;
  --mixin-JF3MCLmNSb4Z_border-left-width: 3px;
  --mixin-JF3MCLmNSb4Z_color: #888888;
  --mixin-JF3MCLmNSb4Z_padding-left: 10px;
  --mixin-JF3MCLmNSb4Z_white-space: pre-wrap;
  --mixin-OMH8mzYEQ4Mo_color: #000000;
  --mixin-OMH8mzYEQ4Mo_font-size: 64px;
  --mixin-OMH8mzYEQ4Mo_font-weight: 700;
  --mixin-OMH8mzYEQ4Mo_letter-spacing: -1px;
  --mixin-OMH8mzYEQ4Mo_line-height: 1;
  --mixin-OMH8mzYEQ4Mo_white-space: pre-wrap;
  --mixin-CEbf3yx-K4lG_color: #000000;
  --mixin-CEbf3yx-K4lG_font-size: 48px;
  --mixin-CEbf3yx-K4lG_font-weight: 700;
  --mixin-CEbf3yx-K4lG_line-height: 1.1;
  --mixin-CEbf3yx-K4lG_letter-spacing: -0.5px;
  --mixin-CEbf3yx-K4lG_white-space: pre-wrap;
  --mixin-7oOjG6rFP2ax_color: #000000;
  --mixin-7oOjG6rFP2ax_font-size: 32px;
  --mixin-7oOjG6rFP2ax_font-weight: 600;
  --mixin-7oOjG6rFP2ax_line-height: 1.2;
  --mixin-7oOjG6rFP2ax_white-space: pre-wrap;
  --mixin-DP_jmPDVyQwu_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-DP_jmPDVyQwu_border-bottom-color: #dddddd;
  --mixin-DP_jmPDVyQwu_border-bottom-style: solid;
  --mixin-DP_jmPDVyQwu_border-bottom-width: 1px;
  --mixin-DP_jmPDVyQwu_border-left-color: #dddddd;
  --mixin-DP_jmPDVyQwu_border-left-style: solid;
  --mixin-DP_jmPDVyQwu_border-left-width: 1px;
  --mixin-DP_jmPDVyQwu_border-right-color: #dddddd;
  --mixin-DP_jmPDVyQwu_border-right-style: solid;
  --mixin-DP_jmPDVyQwu_border-right-width: 1px;
  --mixin-DP_jmPDVyQwu_border-top-color: #dddddd;
  --mixin-DP_jmPDVyQwu_border-top-style: solid;
  --mixin-DP_jmPDVyQwu_border-top-width: 1px;
  --mixin-DP_jmPDVyQwu_border-bottom-left-radius: 3px;
  --mixin-DP_jmPDVyQwu_border-bottom-right-radius: 3px;
  --mixin-DP_jmPDVyQwu_border-top-left-radius: 3px;
  --mixin-DP_jmPDVyQwu_border-top-right-radius: 3px;
  --mixin-DP_jmPDVyQwu_font-family: "Inconsolata";
  --mixin-DP_jmPDVyQwu_padding-bottom: 1px;
  --mixin-DP_jmPDVyQwu_padding-left: 4px;
  --mixin-DP_jmPDVyQwu_padding-right: 4px;
  --mixin-DP_jmPDVyQwu_padding-top: 1px;
  --mixin-DP_jmPDVyQwu_white-space: pre-wrap;
  --mixin-C9Tzwu9vltsf_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-C9Tzwu9vltsf_border-bottom-color: #dddddd;
  --mixin-C9Tzwu9vltsf_border-bottom-style: solid;
  --mixin-C9Tzwu9vltsf_border-bottom-width: 1px;
  --mixin-C9Tzwu9vltsf_border-left-color: #dddddd;
  --mixin-C9Tzwu9vltsf_border-left-style: solid;
  --mixin-C9Tzwu9vltsf_border-left-width: 1px;
  --mixin-C9Tzwu9vltsf_border-right-color: #dddddd;
  --mixin-C9Tzwu9vltsf_border-right-style: solid;
  --mixin-C9Tzwu9vltsf_border-right-width: 1px;
  --mixin-C9Tzwu9vltsf_border-top-color: #dddddd;
  --mixin-C9Tzwu9vltsf_border-top-style: solid;
  --mixin-C9Tzwu9vltsf_border-top-width: 1px;
  --mixin-C9Tzwu9vltsf_border-bottom-left-radius: 3px;
  --mixin-C9Tzwu9vltsf_border-bottom-right-radius: 3px;
  --mixin-C9Tzwu9vltsf_border-top-left-radius: 3px;
  --mixin-C9Tzwu9vltsf_border-top-right-radius: 3px;
  --mixin-C9Tzwu9vltsf_font-family: "Inconsolata";
  --mixin-C9Tzwu9vltsf_padding-bottom: 3px;
  --mixin-C9Tzwu9vltsf_padding-left: 6px;
  --mixin-C9Tzwu9vltsf_padding-right: 6px;
  --mixin-C9Tzwu9vltsf_padding-top: 3px;
  --mixin-C9Tzwu9vltsf_white-space: pre-wrap;
  --mixin--P83c5_Eo2I4_display: flex;
  --mixin--P83c5_Eo2I4_flex-direction: column;
  --mixin--P83c5_Eo2I4_align-items: stretch;
  --mixin--P83c5_Eo2I4_justify-content: flex-start;
  --mixin--P83c5_Eo2I4_list-style-position: outside;
  --mixin--P83c5_Eo2I4_padding-left: 40px;
  --mixin--P83c5_Eo2I4_position: relative;
  --mixin--P83c5_Eo2I4_list-style-type: decimal;
  --mixin--P83c5_Eo2I4_white-space: pre-wrap;
  --mixin-BPITVlaEYJo3_display: flex;
  --mixin-BPITVlaEYJo3_flex-direction: column;
  --mixin-BPITVlaEYJo3_align-items: stretch;
  --mixin-BPITVlaEYJo3_justify-content: flex-start;
  --mixin-BPITVlaEYJo3_list-style-position: outside;
  --mixin-BPITVlaEYJo3_padding-left: 40px;
  --mixin-BPITVlaEYJo3_position: relative;
  --mixin-BPITVlaEYJo3_list-style-type: disc;
  --mixin-BPITVlaEYJo3_white-space: pre-wrap;
  --mixin-xRiLCXdn31ei_color: #3291ff;
  --mixin-xRiLCXdn31ei_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-BWDmAAz5HwGs_white-space: pre-wrap;
  --plasmic-mixin-background_white-space: var(--mixin-BWDmAAz5HwGs_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-kfXQJYEGRL_7_font-family);
  font-size: var(--mixin-kfXQJYEGRL_7_font-size);
  font-weight: var(--mixin-kfXQJYEGRL_7_font-weight);
  font-style: var(--mixin-kfXQJYEGRL_7_font-style);
  color: var(--mixin-kfXQJYEGRL_7_color);
  text-align: var(--mixin-kfXQJYEGRL_7_text-align);
  text-transform: var(--mixin-kfXQJYEGRL_7_text-transform);
  line-height: var(--mixin-kfXQJYEGRL_7_line-height);
  letter-spacing: var(--mixin-kfXQJYEGRL_7_letter-spacing);
  white-space: var(--mixin-kfXQJYEGRL_7_white-space);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-hMDv8zISYiFs_color);
  font-size: var(--mixin-hMDv8zISYiFs_font-size);
  font-weight: var(--mixin-hMDv8zISYiFs_font-weight);
  letter-spacing: var(--mixin-hMDv8zISYiFs_letter-spacing);
  line-height: var(--mixin-hMDv8zISYiFs_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-COsrEp_pq9dx_color);
  font-size: var(--mixin-COsrEp_pq9dx_font-size);
  font-weight: var(--mixin-COsrEp_pq9dx_font-weight);
  letter-spacing: var(--mixin-COsrEp_pq9dx_letter-spacing);
  line-height: var(--mixin-COsrEp_pq9dx_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-p6vmL5GNs1in_color);
  font-size: var(--mixin-p6vmL5GNs1in_font-size);
  font-weight: var(--mixin-p6vmL5GNs1in_font-weight);
  line-height: var(--mixin-p6vmL5GNs1in_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-0Er5gV4fTcTc_color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-JF3MCLmNSb4Z_color);
  padding-left: var(--mixin-JF3MCLmNSb4Z_padding-left);
  border-left: var(--mixin-JF3MCLmNSb4Z_border-left-width)
    var(--mixin-JF3MCLmNSb4Z_border-left-style)
    var(--mixin-JF3MCLmNSb4Z_border-left-color);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-OMH8mzYEQ4Mo_color);
  font-size: var(--mixin-OMH8mzYEQ4Mo_font-size);
  font-weight: var(--mixin-OMH8mzYEQ4Mo_font-weight);
  letter-spacing: var(--mixin-OMH8mzYEQ4Mo_letter-spacing);
  line-height: var(--mixin-OMH8mzYEQ4Mo_line-height);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-CEbf3yx-K4lG_color);
  font-size: var(--mixin-CEbf3yx-K4lG_font-size);
  font-weight: var(--mixin-CEbf3yx-K4lG_font-weight);
  line-height: var(--mixin-CEbf3yx-K4lG_line-height);
  letter-spacing: var(--mixin-CEbf3yx-K4lG_letter-spacing);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-7oOjG6rFP2ax_color);
  font-size: var(--mixin-7oOjG6rFP2ax_font-size);
  font-weight: var(--mixin-7oOjG6rFP2ax_font-weight);
  line-height: var(--mixin-7oOjG6rFP2ax_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-DP_jmPDVyQwu_font-family);
  border-radius: var(--mixin-DP_jmPDVyQwu_border-top-left-radius)
    var(--mixin-DP_jmPDVyQwu_border-top-right-radius)
    var(--mixin-DP_jmPDVyQwu_border-bottom-right-radius)
    var(--mixin-DP_jmPDVyQwu_border-bottom-left-radius);
  padding: var(--mixin-DP_jmPDVyQwu_padding-top)
    var(--mixin-DP_jmPDVyQwu_padding-right)
    var(--mixin-DP_jmPDVyQwu_padding-bottom)
    var(--mixin-DP_jmPDVyQwu_padding-left);
  border-top: var(--mixin-DP_jmPDVyQwu_border-top-width)
    var(--mixin-DP_jmPDVyQwu_border-top-style)
    var(--mixin-DP_jmPDVyQwu_border-top-color);
  border-right: var(--mixin-DP_jmPDVyQwu_border-right-width)
    var(--mixin-DP_jmPDVyQwu_border-right-style)
    var(--mixin-DP_jmPDVyQwu_border-right-color);
  border-bottom: var(--mixin-DP_jmPDVyQwu_border-bottom-width)
    var(--mixin-DP_jmPDVyQwu_border-bottom-style)
    var(--mixin-DP_jmPDVyQwu_border-bottom-color);
  border-left: var(--mixin-DP_jmPDVyQwu_border-left-width)
    var(--mixin-DP_jmPDVyQwu_border-left-style)
    var(--mixin-DP_jmPDVyQwu_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-C9Tzwu9vltsf_font-family);
  border-radius: var(--mixin-C9Tzwu9vltsf_border-top-left-radius)
    var(--mixin-C9Tzwu9vltsf_border-top-right-radius)
    var(--mixin-C9Tzwu9vltsf_border-bottom-right-radius)
    var(--mixin-C9Tzwu9vltsf_border-bottom-left-radius);
  padding: var(--mixin-C9Tzwu9vltsf_padding-top)
    var(--mixin-C9Tzwu9vltsf_padding-right)
    var(--mixin-C9Tzwu9vltsf_padding-bottom)
    var(--mixin-C9Tzwu9vltsf_padding-left);
  border-top: var(--mixin-C9Tzwu9vltsf_border-top-width)
    var(--mixin-C9Tzwu9vltsf_border-top-style)
    var(--mixin-C9Tzwu9vltsf_border-top-color);
  border-right: var(--mixin-C9Tzwu9vltsf_border-right-width)
    var(--mixin-C9Tzwu9vltsf_border-right-style)
    var(--mixin-C9Tzwu9vltsf_border-right-color);
  border-bottom: var(--mixin-C9Tzwu9vltsf_border-bottom-width)
    var(--mixin-C9Tzwu9vltsf_border-bottom-style)
    var(--mixin-C9Tzwu9vltsf_border-bottom-color);
  border-left: var(--mixin-C9Tzwu9vltsf_border-left-width)
    var(--mixin-C9Tzwu9vltsf_border-left-style)
    var(--mixin-C9Tzwu9vltsf_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin--P83c5_Eo2I4_display);
  flex-direction: var(--mixin--P83c5_Eo2I4_flex-direction);
  align-items: var(--mixin--P83c5_Eo2I4_align-items);
  justify-content: var(--mixin--P83c5_Eo2I4_justify-content);
  list-style-position: var(--mixin--P83c5_Eo2I4_list-style-position);
  padding-left: var(--mixin--P83c5_Eo2I4_padding-left);
  position: var(--mixin--P83c5_Eo2I4_position);
  list-style-type: var(--mixin--P83c5_Eo2I4_list-style-type);
  column-gap: var(--mixin--P83c5_Eo2I4_column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-BPITVlaEYJo3_display);
  flex-direction: var(--mixin-BPITVlaEYJo3_flex-direction);
  align-items: var(--mixin-BPITVlaEYJo3_align-items);
  justify-content: var(--mixin-BPITVlaEYJo3_justify-content);
  list-style-position: var(--mixin-BPITVlaEYJo3_list-style-position);
  padding-left: var(--mixin-BPITVlaEYJo3_padding-left);
  position: var(--mixin-BPITVlaEYJo3_position);
  list-style-type: var(--mixin-BPITVlaEYJo3_list-style-type);
  column-gap: var(--mixin-BPITVlaEYJo3_column-gap);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-xRiLCXdn31ei_color);
}
